*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

derby.log
metastore_db/

linkage/bin/
linkage/resources/
linkage/target/
linkage/derby.log
linkage/metastore_db/
linkage/project/
linkage/src/main/resources/
linkage/.classpath
linkage/.project
linkage/.settings
